<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>台北一日遊 景點介紹</title>
    <link rel="stylesheet" href="../static/attraction-sty.css">
</head>
<body>
    <!-- navibar -->
    <div class="blur" id="blur"></div>
    <div class="header-bar fixed-header-bar" >
        <div id="header-bar-text" class="header-bar-text d-flex">
            <h1 id="header-bar-title"><a href="/">台北一日遊</a></h1>
            <ul class="d-flex">
                <li id="js_to_booking"><a>預定行程</a></li>
                </li>
                <li id="logAndRes"><a>登入/註冊</a></li>

                <li class="toMember">會員資料
                    <ul class="member">
                        <li class="member_page"><a>會員頁面</a></li>
                        <li id="js_btn_logout" class="btn_logout"><a>登出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    

    <a href="#content" class="icon-backToUp"><img src="../static/image/icon/icon-backToUp.png" alt=""><p>回頂部</p></a>

    <div class="content" id="content">
        <div class="all-preview d-flex">

            <div class="pic-container">
                <div class="pic-sec">
                </div>
                <!-- prev & next btn -->
                <div class="arrow-container">
                    <a ><img class="btn-prev-pic btn-pic-arrow"  src="../static/image/icon/icon-leftArrow.png" alt=""></a>
                    <a ><img class="btn-next-pic btn-pic-arrow"  src="../static/image/icon/icon-rightArrow.png" alt=""></a>
                </div>
                <!-- opt circles -->
                <div class="pic-circle d-flex">
                </div>
            </div>
            

            <div class="attraction-preview">
                <h2></h2>
                <p><span class="category"></span> at <span class="mrt"></span></p>
                <form class="form-trip-order d-flex" action="">
                    
                    <h3>訂購導覽行程</h3>
                    <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <label for="trip-date">
                        
                        <div class="trip-date-wrap">
                        選擇日期：
                        <input class="trip-date-input" onload="getToday()" type="date" name="trip-date" id="trip-date" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{1}">
                        <input class="trip-date-picker" type="date" >
                        </div>  
                    </label>
                    <label class="trip-time">
                        選擇時間：
                        <span class="current_items" >
                            <input type="radio" name="trip-time" id="trip-time-early"value="morning" checked>        
                            <label class="trip-time-opt" id="trip-time-early" for="trip-time-early">上半天</label>
                        </span>
                                
                        <span class="current_items" >
                            <input type="radio" name="trip-time" id="trip-time-night"value="afternoon">
                            <label class="trip-time-opt" for="trip-time-night">下半天</label>       
                        </span>
                      </label>
                    <br>
                    <label class="cost-preview">導覽費用：<span>新台幣<span class="cost-preview-price"> 2000</span>元</span></label>
                    <br>
                    <input id="js_btn_order" type="submit" value="開始預定行程" class="btn btn-order">
                    
                </form>
            </div>
        </div>
        <hr>
        <div class="land-extra">
            <ul>
                <li>
                    <p class='profile'></p>
                </li>
                <li>
                    <h3>景點地址：</h3>
                    <p class="address"></p>
                </li>
                <li>
                    <h3>交通方式：</h3>
                    <p class="transport"></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </div>

    <!-- 登入彈跳視窗 -->
    <div class="popup login d-flex" id="loginPage">
        <div class="popup-line"></div>
        <img class="closePopup" src="../static/image/icon/icon-cross.png" alt="">
        <form action="">
            <h3>登入會員帳號</h3>
            <input id="login-email" type="text" placeholder="輸入電子信箱" required>
            <input id="login-password" type="password" placeholder="輸入密碼" required>
            <input id="js_btn_login" class="btn" type="button" value="登入帳戶">
            <div class="sys_feedback login_result">登入失敗，帳號或密碼錯誤</div>
            <a id="toRegisterPage">還沒有帳戶？點此註冊</a>
        </form>
    </div>

    <!-- 註冊彈跳視窗 -->
    <div class="popup register d-flex" id="registerPage">
        <div class="popup-line"></div>
        <img class="closePopup" src="../static/image/icon/icon-cross.png" alt="">
        <form action="">
            <h3>註冊會員帳號</h3>
            <input id="js_reg_name" type="text" placeholder="輸入姓名">
            <input id="js_reg_email" type="email" placeholder="輸入電子郵件">
            <input id="js_reg_password" type="password" placeholder="輸入密碼">
            <label class="reg_birth" for="birth">生日：
                <input id="js_reg_birth" type="date" name="birth" placeholder="選擇生日" required>
            </label>
            <input id="js_btn_register" class="btn" type="button" value="註冊會員">
            <div class="sys_feedback reg_result" id="success_reg"></div>
            <a id="toLoginPage">已經有帳戶了？點此登入</a>
        </form>
    </div>
    
    <script src="../static/js/public.js"></script>
    <script src="../static/js/attraction.js"></script>
</body>
</html>