<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>台北一日遊 景點介紹</title>
    <link rel="stylesheet" href="../static/attraction-sty.css">
</head>
<body>
    <div class="header-bar fixed-header-bar">
        <div class="header-bar-text d-flex">
        <a href="/"><h1>台北一日遊</h1></a>
            <ul class="d-flex">
                <li><a href="booking.html">預定行程</a></li>
                <li><a>登入/註冊</a></li>
            </ul>
        </div>
    </div>

    

    <a href="#header" class="icon-backToUp"><img src="../static/image/icon/icon-backToUp.png" alt=""><p>回頂部</p></a>

    <div class="content">
        <div class="all-preview d-flex">

            <div class="pic-container">
                <div class="pic-sec">
                </div>
                <!-- prev & next btn -->
                <div class="arrow-container">
                    <a ><img class="btn-prev-pic btn-pic-arrow"  src="../static/image/icon/icon-leftArrow.png" alt=""></a>
                    <a ><img class="btn-next-pic btn-pic-arrow"  src="../static/image/icon/icon-rightArrow.png" alt=""></a>
                </div>
                <!-- opt circles -->
                <div class="pic-circle d-flex">
                </div>
            </div>
            

            <div class="attraction-preview">
                <h2></h2>
                <p><span class="category"></span> at <span class="mrt"></span></p>
                <form class="form-trip-order d-flex" action="">
                    
                    <h3>訂購導覽行程</h3>
                    <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <label for="trip-date">選擇日期:
                        <input class="trip-date-input" type="date" name="trip-date" id="trip-date" required>
                    </label>
                    <label class="trip-time">
                        選擇時間：
                        <span class="current_items" >
                            <input type="radio" name="trip-time" id="trip-time-early" checked>        
                            <label class="trip-time-opt" id="trip-time-early" for="trip-time-early">上半天</label>
                        </span>
                                
                        <span class="current_items" >
                            <input type="radio" name="trip-time" id="trip-time-night">
                            <label class="trip-time-opt" for="trip-time-night">下半天</label>       
                        </span>
                      </label>
                    <br>
                    <label class="cost-preview">導覽費用：<span>新台幣<span class="cost-preview-price"> 2000</span>元</span></label>
                    <br>
                    <input type="button" value="開始預定行程" class="btn btn-order">
                    
                </form>
            </div>
        </div>
        <hr>
        <div class="land-extra">
            <ul>
                <li>
                    <p class='profile'></p>
                </li>
                <li>
                    <h3>景點地址：</h3>
                    <p class="address"></p>
                </li>
                <li>
                    <h3>交通方式：</h3>
                    <p class="transport"></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </div>
    <script src="../static/js/attraction.js"></script>
</body>
</html>