<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊 訂購頁面</title>
    <link rel="stylesheet" href="../static/booking-sty.css">
    

<body>
    <!-- navibar -->
    <div class="blur" id="blur"></div>
    <div class="header-bar fixed-header-bar">
        <div id="header-bar-text" class="header-bar-text d-flex">
            <h1 id="header-bar-title"><a href="/">台北一日遊</a></h1>
            <ul class="d-flex">
                <li><a href="booking.html">預定行程</a></li>
                <li id="logAndRes"><a>登入/註冊</a></li>

                <li class="toMember">會員資料
                    <ul class="member">
                        <li class="member_page"><a>會員頁面</a></li>
                        <li id="js_btn_logout" class="btn_logout"><a>登出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

     <!-- no order start -->
     <div class="content content-noOrder">
        <h2 class="welcome content-sec-container">您好，{username}，待預定的行程如下：</h2>
            <p class="content-sec-container">目前沒有任何待預訂的行程</p>
    </div>
    <!-- no order end -->

     <!-- have an order start -->
     <a href="#h2" class="icon-backToUp"><img src="../static/image/icon/icon-backToUp.png" alt=""><p>回頂部</p></a>
     
    <div class="content content-order">
        <h2  id="h2" class="welcome content-sec-container">您好，{username}，待預定的行程如下：</h2>

        <div class="orderDetail d-flex mb-40 content-sec-container">
                <img class="bookingLand" src="../static/image/landtest.png" alt="">
                <ul class="orderDetail-ul d-flex">
                    <li><p>台北一日遊：</p>{landName}</li>
                    <li>日期：</li>
                    <li>時間：</li>
                    <li>費用：</li>
                    <li>地點：臺北市 大安區忠孝東路4段</li>
                </ul>
                <img class="icon-delete" src="../static/image/icon/icon_delete.png" alt="">
            
        </div>

        <hr>

        <form action="" class="form-order">
            <div class="orderContact mb-40 content-sec-container">

                <h2>您的聯絡資訊</h2>
                <label for="">聯絡姓名：</label>
                <input type="text" placeholder="請輸入姓名" required>
                <br>
                <label for="">聯絡信箱：</label>
                <input type="email" placeholder="請輸入電子信箱" required>
                <br>
                <label for="">手機號碼：</label>
                <input type="text" placeholder="請輸入手機號碼" required>
                <p>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
            </div>
            
        <hr>

            <div class="orderPayInformation mb-40 content-sec-container">
            
                <h2>信用卡付款資訊</h2>
                <label for="cardName">卡片號碼：</label>
                <input type="text" name="cardName" id="cardName" required>
                <br>
                <label for="expYear">過期時間：</label>
                <input type="text" id="expYear" name="expYear" placeholder="MM/YY">
                <br>
                <label for="cvv">驗證密碼：</label>
                <input type="text" id="cvv" name="cvv" placeholder="CVV">
            </div>
            
        <hr>

        <div class="costCheck d-flex content-sec-container">
            <p>總價：新台幣<span></span>元</p>
            
            <input type="button" class="btn btn-order" value="確認訂購並付款">
        </div>
        </form>
    </div>

    <div class="footer">
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </div>
    
    <!-- 登入彈跳視窗 -->
    <div class="popup login d-flex" id="loginPage">
        <div class="popup-line"></div>
        <img class="closePopup" src="../static/image/icon/icon-cross.png" alt="">
        <form action="">
            <h3>登入會員帳號</h3>
            <input id="login-email" type="text" placeholder="輸入電子信箱" required>
            <input id="login-password" type="password" placeholder="輸入密碼" required>
            <input id="js_btn_login" class="btn" type="button" value="登入帳戶">
            <div class="sys_feedback login_result">登入失敗，帳號或密碼錯誤</div>
            <a id="toRegisterPage">還沒有帳戶？點此註冊</a>
        </form>
    </div>

    <!-- 註冊彈跳視窗 -->
    <div class="popup register d-flex" id="registerPage">
        <div class="popup-line"></div>
        <img class="closePopup" src="../static/image/icon/icon-cross.png" alt="">
        <form action="">
            <h3>註冊會員帳號</h3>
            <input id="js_reg_name" type="text" placeholder="輸入姓名">
            <input id="js_reg_email" type="email" placeholder="輸入電子郵件">
            <input id="js_reg_password" type="password" placeholder="輸入密碼">
            <!-- <br> -->
            <label class="reg_birth" for="birth">生日：
                <input id="js_reg_birth" type="date" name="birth" placeholder="選擇生日" required>
            </label>
            <input id="js_btn_register" class="btn" type="button" value="註冊會員">
            <div class="sys_feedback reg_result" id="success_reg"></div>
            <a id="toLoginPage">已經有帳戶了？點此登入</a>
        </form>
    </div>


<!-- javaScript -->
    <script src="../static/js/logReg.js"></script>
    <script src="../static/js/noOrder.js"></script>
</body>
</html>