<!-- navibar -->
<div class="blur" id="blur"></div>
<div class="header-bar fixed-header-bar">
    <div id="header-bar-text" class="header-bar-text d-flex">
        <h1 id="header-bar-title"><a href="/">台北一日遊</a></h1>
        <ul class="d-flex">
            <li id="js_to_booking"><a>預定行程</a></li>
            <li id="logAndRes"><a>登入/註冊</a></li>

            <li class="toMember">會員資料
                <ul class="member">
                    <li class="member_page"><a>會員中心</a></li>
                    <li id="js_btn_logout" class="btn_logout"><a>登出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>


<a href="#header" class="icon-backToUp d-flex" ><img src="../static/image/icon/icon-backToUp.png" alt=""><p>回頂部</p></a>


<div class="header" id="header">

    <div class="header-text d-flex">
    <h2>輕鬆享受台北一日悠閒</h2>
    <p>探索每個角落，體驗城市的深度旅遊行程</p>
        <form class="header-search d-flex">
            <input type="text" id="keyword" class="keyword" placeholder="輸入景點名稱查詢">
            <div class="header-btn">
            <input type="submit" id="btn-keyword" class="btn-keyword" value="" >
                <img class="icon-search" src="../static/image/icon/icon_search.png" alt="" >
            </div>
        </form>
    </div>

</div>