<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>台北一日遊</title>
    <link rel="stylesheet" href="../static/index-sty.css" class=>
</head>
<body>
    <div class="blur" id="blur"></div>
    <div class="header-bar fixed-header-bar">
        <div id="header-bar-text" class="header-bar-text d-flex">
            <a href="/"><h1 id="header-bar-title">台北一日遊</h1>
            <ul class="d-flex"><a>
                <li><a href="booking.html">預定行程</a></li>
                <li id="logAndRes"><a>登入/註冊</a></li>
            </ul>
        </div>
    </div>

    <a href="#header" class="icon-backToUp"><img src="../static/image/icon/icon-backToUp.png" alt=""><p>回頂部</p></a>
    
    <div class="header" id="header">
    
        <div class="header-text d-flex">
        
        <h2>輕鬆享受台北一日悠閒</h2>
        <p>探索每個角落，體驗城市的深度旅遊行程</p>
            <form class="header-search d-flex">
                <input type="text" id="keyword" class="keyword" placeholder="輸入景點名稱查詢">
                <div class="header-btn">
                <input type="submit" id="btn-keyword" class="btn-keyword" value="" >
                    <img class="icon-search" src="../static/image/icon/icon_search.png" alt="" >
                </div>
            </form>
        </div>

    </div>

    <!-- 網頁內容 -->
    <div class="content">
        <ul id="landContainer" class="content-land d-flex">
            <!--js data-->
        </ul>

    </div>
    
    <div class="footer">
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </div>
    

     <!-- 登入彈跳視窗 -->
     <div class="popup login d-flex" id="loginPage">
        <div class="popup-line"></div>
        <img class="closePopup" src="../static/image/icon/icon-cross.png" alt="">
        <form action="" class="d-flex">
            <h3>登入會員帳號</h3>
            <input type="text" placeholder="輸入電子信箱" required>
            <input type="password" placeholder="輸入密碼" required>
            <input class="btn" type="button" value="登入帳戶" required>
            <a id="toRegisterPage">還沒有帳戶？點此註冊</a>
        </form>
    </div>

    <!-- 註冊彈跳視窗 -->
    <div class="popup register d-flex" id="registerPage">
        <div class="popup-line"></div>
        <img class="closePopup" src="../static/image/icon/icon-cross.png" alt="">
        <form action="">
            <h3>註冊會員帳號</h3>
            <input type="text" placeholder="輸入姓名">
            <input type="text" placeholder="輸入電子郵件">
            <input type="password" placeholder="輸入密碼">
            <input class="btn" type="button" value="登入帳戶">
            <a id="toLoginPage">已經有帳戶了？點此登入</a>
        </form>
    </div>


    <!-- JS -->
    <script src="../static/js/logReg.js"></script>
    <script src="../static/js/index.js"></script>
</body>
</html>